# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env

# Flask instance folder and database
instance/
*.db
*.sqlite
*.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS files
.DS_Store
__MACOSX/

# Logs
*.log
Docs