{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3">Scoring Criteria</h1>

Each student starts with 10 points for each category

<div class="card mb-3">
  <div class="card-body">
    <h2 class="h5">1. Punctuality</h2>
    <ul class="mb-0">
      <li>On-time (5-minute buffer)</li>
      <li>Late (more than 5 minutes): <b>-5</b></li>
    </ul>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h2 class="h5">2. Participation</h2>
    <ul class="mb-0">
      <li>Asked meaningful questions: <b>+1 (cap 1)</b></li>
      <li>Distracted others: <b>-1</b></li>
      <li>Made a connection across ideas: <b>+1</b></li>
      <li>Challenged an assumption constructively: <b>+1</b></li>
      <li>Tried something new or took a learning risk: <b>+1</b></li>
      <li>Answered a question: <b>+1</b></li>
    </ul>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h2 class="h5">3. Teamwork</h2>
    <ul class="mb-0">
      <li>Contributed to team dynamic: <b>+1</b></li>
      <li>Makes sure all team members are included: <b>+1</b></li>
      <li>Allocates tasks to members: <b>+1</b></li>
      <li>Leader within team and/or able to follow the lead of others: <b>+1</b></li>
      <li>Helped a peer unprompted: <b>+1</b></li>
    </ul>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h2 class="h5">4. Adab</h2>
    <ul class="mb-0">
      <li>Includes others, spreads salaam, reaches out if anyone is alone: <b>+1</b></li>
      <li>Treats fellow classmates, instructor, volunteers with respect: <b>+1</b></li>
      <li>On phone or other electronics (except when required for the activity): <b>-1</b></li>
      <li>Student interrupts or speak over others or use disrespectful communication style: <b>-1</b></li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2 class="h5">5. Workshop-Specific Deliverable Evaluation:</h2>
    <ul class="mb-0">
      <li>Completion of the Activity: <b>+1</b></li>
      <li>Expanding on the Activity (investigation outside of what was covered in the workshop): <b>+1</b></li>
    </ul>
  </div>
</div>

{% endblock %}